.qImage {
    display: flex;
    justify-content: center;
    background-image: url("https://5.imimg.com/data5/XR/UJ/MY-2429279/kids-wallpaper-1000x1000.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    /* filter: blur(2px) brightness(1); */
    opacity: 0.8;
  }
  


.QuestionCard {
    padding: 50px;
    margin-top: 10vh;
    font-size: 200%;
    background-color:rgb(252, 249, 56);
    box-shadow: 3px 3px 3px 3px;
}

.answerChoice {
    margin-top: 20px;
    background-color: rgb(136, 152, 241);
}

.A {
    padding: 5px;
}

.B {
    padding: 5px;
}

.C {
    padding: 5px;
}

.D {
    padding: 5px;
}

.submit {
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: solid rgba(32, 28, 28, 0.253);
    margin-top: 30px;
    background-color: rgb(76, 207, 240);
}

.goBack {
    height: 60px;
    width: 100px;
    border-radius: 10px;
    border: solid rgba(32, 28, 28, 0.253);
    margin-top: 30px;
    background-color: rgb(76, 207, 240);
}

.AnswerCard {
    padding: 30px;
    margin-top: 20px;
    font-size: 30px;
    background-color:rgb(57, 255, 212);
}

.EndCard {
    padding: 30px;
    margin-top: 20px;
    font-size: 30px;
    background-color:rgb(169, 236, 167);
}

.checkRank {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.checkRank Ion-button {
    width: 250px;
    height: 150px;
}