

--ion-content.background {
   
}

:root {
    --ion-background-color: #f3f1d2; 
}

.bgImage {
    display: flex;
    justify-content: center;
}

.Startbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

